

.block-details {
  display: block;
  margin-left: 10%;
  margin-right: 10%;

  @media (max-width: 768px) {
    margin-left: 1%;
    margin-right: 1%;
  }
  @media (max-width: 375px) {
    margin-left: 3%;
    margin-right: 3%;
  }
}

.block-details h6 {
  height: 10px;
  margin: auto;
  margin-top: 100px;

  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 10px;

  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #686868;
}

.block-details h1 {
  margin-bottom: 55px;

  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;

  text-align: center;

  color: #3F3D56;

  @media (max-width: 375px) {
    font-size: 30px;
    line-height: 37px;
  }
}

.block-details .cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-evenly;

  z-index: 3;
}

.block-details .card {
  flex-basis: 31%;

  margin-bottom: 30px;

  background: #FFFFFF;

  border: 0.5px solid #E5E5E5;
  box-sizing: border-box;

  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.08);
  border-radius: 0;

  @media (max-width: 768px) {
    flex-basis: 45%;
  }
  @media (max-width: 375px) {
    flex-basis: 100%;
  }
}

.block-details .background-image {
  width: 85%;
  height: 297px;
  margin: auto;
  margin-top: -330px;

  z-index: 1;

  background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('../assets/adult-business-deal-colleague-1265902.jpeg');
  background-size: cover;
  background-position: center center;

  border: 0.5px solid #E5E5E5;
  box-sizing: border-box;

  @media (max-width: 768px) {
    visibility: hidden;
  }
}

.block-details i {
  margin-right: 4px;
}
