

//.block-carousel {
//  display: block;
//  margin-left: 10%;
//  margin-right: 10%;
//
//  @media (max-width: 768px) {
//    margin-left: 1%;
//    margin-right: 1%;
//  }
//  @media (max-width: 375px) {
//    margin-left: 3%;
//    margin-right: 3%;
//  }
//}

.block-carousel h6 {
  height: 10px;
  margin: auto;
  margin-top: 76px;
  margin-bottom: 10px;

  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 10px;

  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #686868;

  @media (max-width: 768px) {
    margin-top: 70px;
    margin-bottom: 8px;
  }
  @media (max-width: 375px) {
    margin-top: 50px;
    margin-bottom: 8px;
  }
}

.block-carousel h1 {
  margin-bottom: 30px;

  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;

  text-align: center;

  color: #3F3D56;

  @media (max-width: 375px) {
    margin-bottom: 32px;
  }
}

.block-carousel i {
  margin-right: 4px;
}

.block-carousel p {

  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;

  text-align: center;

  color: #3F3D56;

  @media (max-width: 375px) {
    margin-bottom: 18px;
  }
}

.block-carousel .carousel {
  height: 373px;
  max-width: 597px;
  margin: auto;
  margin-top: 100px;

  z-index: 2;

  @media (max-width: 375px) {
    width: 100%;
    height: 290px;
  }
}

.block-carousel .background-image {
  height: 469px;
  max-width: 787px;
  margin: auto;
  margin-top: -398px;

  z-index: 1;

  background: url('../assets/MacBook-Pro-mockup_background.png');
  background-size: cover;
  background-position: center center;

  box-sizing: border-box;

  @media (max-width: 375px) {
    visibility: hidden;
  }
}

.block-carousel button {
  display: flex;
  flex-direction: row;
  padding: 0 43px;
  margin: auto;
  margin-top: 100px;

  width: 360px;
  height: 40px;

  background: #EF4744;
  box-shadow: 0px 8px 12px rgba(239, 71, 68, 0.6);
  border-radius: 2px;

  @media (max-width: 768px) {
    margin-top: 100px;
  }
  @media (max-width: 375px) {
    visibility: hidden;
    width: 330px;
    margin-top: 60px;
  }
}

.block-carousel a {
  position: static;
  left: 8.5%;
  right: 8.32%;
  top: 27.27%;
  bottom: 27.27%;

  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #FFFFFF;

  flex: none;
  order: 0;
  align-self: center;
  margin: 10px 0;
}

.block-carousel .carousel {
  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.08);
}

.block-carousel .carousel-indicators {
  bottom: -115px;

  @media (max-width: 375px) {
    bottom: 15px;
  }
}

.block-carousel .carousel-indicators li {
  position: static;
  width: 8px;
  max-height: 8px;

  margin: 8px;

  background: url('../assets/Ellipse-2-1.svg') no-repeat;
  background-size: cover;
  background-position: center center;
}

.block-carousel .carousel-indicators li.active {

  margin: 8px;

  background: url('../assets/Ellipse-2.svg') no-repeat;
  background-size: cover;
  background-position: center center;
}

.block-carousel .carousel .carousel-control-prev-icon {
  position: relative;
  width: 40px;
  height: 40px;
  margin-top: -410px;
  left: -180%;

  background-image: url('../assets/arrow-left.svg');

  @media (max-width: 768px) {
    margin-top: -372px;
    left: -112%;
  }
  @media (max-width: 375px) {
    margin-top: 20px;
    left: 0;
  }
}

.block-carousel .carousel .carousel-control-next-icon {
  position: relative;
  width: 40px;
  height: 40px;
  margin-top: -435px;
  left: 750%;

  background-image: url('../assets/arrow-right.svg');

  @media (max-width: 768px) {
    margin-top: -395px;
    left: 680%;
  }

  @media (max-width: 375px) {
    margin-top: -56px;
    left: 565%;
  }
}

//.block-carousel .carousel-inner .carousel-item {
//  display: flex;
//  flex-direction: row;
//  justify-content: space-between;
//
//  //width: 2500px;
//}

.block-carousel .carousel-inner .carousel-item img {
//  flex-basis: 30%;

  @media (max-width: 375px) {
    border-radius: 10px;
  }
}

.block-carousel .item-prev .carousel-item {
  height: 373px;
  max-width: 597px;
  margin-left: -530px;
  margin-top: 101px;

  //border: black 1px solid;

  @media (max-width: 768px) {
    visibility: hidden;
  }
}