

.feedback h1 {
  margin-top: 77px;
  margin-bottom: 63px;
}

.feedback .cards {
  margin: 0 -15px;
}

.feedback .card .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 24px 4px;
}

.feedback .card {
  flex-basis: 21%;

  height: 95px;
  margin: 0 15px 54px 15px;

//border: black 1px solid;

  box-shadow: none;
  border-radius: 0;

  @media (max-width: 768px) {
    flex-basis: 29%;
  }
  @media (max-width: 375px) {
    flex-basis: 43%;
  }
}