
.service {

  @media (max-width: 768px) {
    padding: 0;
    margin: 0;
  }
}

.service h6 {

  @media (max-width: 768px) {
    margin-top: 102px;
    margin-left: 50px;
  }
  @media (max-width: 375px) {
    margin-top: 79px;
    margin-left: -10px;
  }
}

.service h1 {
  margin-bottom: 60px;

  @media (max-width: 768px) {
    margin-bottom: 49px;
    margin-left: 50px;
  }
  @media (max-width: 375px) {
    margin-top: 8px;
    margin-bottom: 24px;
    margin-left: -10px;
  }
}

.service .cards {
  margin-left: -92px;
  margin-right: -92px;

  @media (max-width: 768px) {
    justify-content: space-evenly;
    margin-left: 20px;
    margin-right: 0;
  }
  @media (max-width: 375px) {
    margin-left: 8px;
    margin-right: 8px;
  }
}

.service .card {
  flex-basis: 49%;
  -ms-flex-preferred-size: 43%;

  height: 100%;
  margin-bottom: 75px;

  border: none;
  box-shadow: none;

  @media (max-width: 768px) {
    flex-basis: 95%;
    padding-left: 30px;
    padding-right: 0;
  }
  @media (max-width: 375px) {
    flex-basis: 100%;
    margin-bottom: 36px;
    padding-left: 0;
    padding-right: 0;
  }
}

.service .card .picture {
  display: flex;
  justify-content: center;
}

.service .card:nth-child(odd) {

  @media (max-width: 768px) {
    flex-basis: 100%;
    justify-self: left;
    margin-bottom: 0;
    padding: 0;
  }
}

.service .card:nth-child(1) {
  order: 1;
  padding: 78px 83px 0 35px;

  @media (max-width: 768px) {
    order: 0;
    justify-self: left;
    padding: 0;
  }
}

.service .card:nth-child(3) {
  order: 2;
  padding: 55px 0 0 125px;

  @media (max-width: 768px) {
    order: 0;
    justify-self: left;
    padding: 0;
  }
}

.service .card:nth-child(3) .text {

  @media (max-width: 768px) {
    padding: 24px 0 0 0;
  }
}

.service .card:nth-child(3) .subtext {

  @media (max-width: 768px) {
    padding: 14px 2px 29px 2px;
    margin-right: -10px;
  }
  @media (max-width: 375px) {
    padding: 6px 12px 29px 1px;
    margin-right: -10px;
  }
}

.service .card:nth-child(4) {
  order: 3;

  @media (max-width: 768px) {
    order: 0;
  }
  @media (max-width: 375px) {
    flex-basis: 100%;
    margin-top: -7px;
    margin-bottom: 29px;
    padding-left: 0;
    padding-right: 0;
  }
}

.service .card:nth-child(4) .picture img {
  max-height: 408px;

  @media (max-width: 375px) {
    height: 230px;
  }
}

.service .card:nth-child(5) {
  order: 5;
  margin-top: 46px;
  padding: 71px 115px 0 32px;

  @media (max-width: 768px) {
    order: 0;
    justify-self: left;
    margin-top: 27px;
    padding: 0;
  }
}

.service .card:nth-child(6) {
  order: 4;
  margin-top: 46px;

  @media (max-width: 768px) {
    order: 0;
    margin-top: 22px;
  }
  @media (max-width: 375px) {
    flex-basis: 100%;
    margin-top: 13px;
    margin-bottom: 42px;
    padding-left: 0;
    padding-right: 0;
  }
}

.service .card:nth-child(6) .picture img {
  max-height: 345px;

  @media (max-width: 375px) {
    height: 196px;
  }
}

.service .card .text {
  padding-bottom: 8px;

  @media (max-width: 768px) {
    padding: 0;
  }
}

.service .card .subtext {
  padding: 6px 12px 37px 34px;
  line-height: 26px;

  @media (max-width: 768px) {
    padding: 12px 0 37px 0;
  }
  @media (max-width: 375px) {
    padding: 6px 0 28px 0;
  }
}

.service .card .picture img {
  position: static;

  width: 100%;
  max-height: 367px;

  border: 0.5px solid #E5E5E5;
  box-sizing: border-box;

  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.08);
  border-radius: 0;

  @media (max-width: 375px) {
    height: auto;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .service .card .picture img {

    @media (max-width: 375px) {
      max-height: 230px;
    }
  }
}

.service .card button {
  max-width: 293px;
  min-height: 42px;
  margin-left: 32px;

  background: #FFFFFF;

  border: 0.5px solid #EF4744;
  box-sizing: border-box;
  border-radius: 2px;

  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.08);

  @media (max-width: 768px) {
    margin-left: 0;
    margin-bottom: 32px;
  }
}

.service .card button a {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #2B2B2B;
}

.service .card button:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

.service .card button:hover a {
  color: #fff;
  text-decoration: none;
}
