

.testing .card {
 min-height: 280px;
}

.testing .card:last-child {
  flex-basis: 48%;
  min-height: 310px;

  @media (max-width: 768px) {
    flex-basis: 100%;
  }
  @media (max-width: 375px) {
    flex-basis: 100%;
  }
}

.testing .card:nth-last-child(2) {
  flex-basis: 48%;

  @media (max-width: 375px) {
    flex-basis: 100%;
  }
}