

.feedback h1 {
  margin-top: 100px;
}

.feedback .card .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 24px 4px;
}

.feedback .card {
  flex-basis: 20%;

  height: 95px;
  margin: 2%;

  box-shadow: none;
  border-radius: 0;

  @media (max-width: 768px) {
    flex-basis: 25%;
  }
  @media (max-width: 375px) {
    flex-basis: 43%;
  }
}