

.testing {
  @media (max-width: 768px) {
    padding: 0;
  }
  @media (max-width: 375px) {
    padding: 0 15px;
  }
}

.testing h6 {
  @media (max-width: 375px) {
    margin-top: 80px;
  }
}

.testing h1 {
  @media (max-width: 375px) {
    margin-top: 6px;
    margin-bottom: 26px;
  }
}

.testing .card {
  min-height: 280px;

  @media (max-width: 768px) {
    flex-basis: 48%;
  }
  @media (max-width: 375px) {
    flex-basis: 100%;
  }
}

.testing .card .text {

  @media (max-width: 768px) {
    padding: 39px 12px 32px 32px;
  }
  @media (max-width: 375px) {
    padding: 39px 12px 32px 32px;
  }
}

.testing .card:first-child img {
  width: 72%;
  padding-right: 17px;

}

.testing .card:nth-child(2) img {
  max-width: 100%;

  //@media (max-width: 768px) {
  //  max-width: 100%;
  //}
}

.testing .card:last-child {
  flex-basis: 48.5%;
  min-height: 310px;

  @media (max-width: 768px) {
    flex-basis: 100%;
  }
  @media (max-width: 375px) {
    min-height: 370px;
    flex-basis: 100%;
  }
}

.testing .card:last-child img {
  width: 72%;
  padding-right: 17px;

  @media (max-width: 375px) {
    width: 82%;
    padding-right: 0;
  }
}

.testing .card:nth-last-child(2) {
  flex-basis: 48%;

  @media (max-width: 768px) {
    flex-basis: 48%;
  }
  @media (max-width: 375px) {
    min-height: 368px;
    flex-basis: 100%;
  }
}

.testing .card:nth-last-child(2) img {
  @media (max-width: 375px) {
    width: 82%;
  }
}