

.can-do h6 {
  margin-top: 99px;

  @media (max-width: 768px) {
    margin-top: 99px;
  }
  @media (max-width: 375px) {
    margin-top: 82px;
  }
}

.can-do h1 {
  margin-bottom: 32px;

  @media (max-width: 768px) {
    margin-bottom: 23px;
  }
  @media (max-width: 375px) {
    margin-bottom: 24px;
  }
}

.can-do .cards {

  @media (max-width: 768px) {
    margin-left: -20px;
    margin-right: -20px;
  }
  @media (max-width: 375px) {
    justify-content: space-evenly;
  }
}

.can-do .card {
  flex-basis: 31.5%;
  min-height: 200px;

  @media (max-width: 768px) {
    flex-basis: 48%;
  }
  @media (max-width: 375px) {
    flex-basis: 91%;
  }
}

.can-do .card:last-child {
  margin-right: 34.5%;

  @media (max-width: 768px) {
    margin-right: 0;
  }
  @media (max-width: 375px) {
    margin-right: 0;
  }
}

.can-do .card .text {
  padding: 16px 19px 32px 32px;
  font-size: 18px;
  line-height: 22px;
}

.can-do .background-image {
  width: 92%;
  height: 470px;
  margin: auto;
  margin-top: -597px
}