//@import 'node_modules/slick-carousel/slick/slick.scss';

.block-carousel h6 {
  height: 10px;
  margin: auto;
  margin-top: 89px;
  margin-bottom: 10px;
  margin-left: 23px;

  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 10px;

  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #686868;

  @media (max-width: 768px) {
    margin-top: 84px;
    margin-bottom: 8px;
  }
  @media (max-width: 375px) {
    margin-top: 80px;
    margin-left: -16px;
    margin-bottom: 5px;
  }
}

.block-carousel h1 {
  margin-bottom: 14px;

  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;

  text-align: center;

  color: #3F3D56;

  @media (max-width: 375px) {
    margin-bottom: 20px;
    margin-left: -10px;
    font-size: 30px;
  }
}

.block-carousel i {
  margin-right: 4px;
}

.block-carousel p {
  padding: 0 57px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;

  text-align: center;

  color: #3F3D56;

  @media (max-width: 768px) {
    padding: 0;
  }
  @media (max-width: 549px) {
    margin-bottom: 23px;
  }
  @media (max-width: 375px) {
    margin-bottom: 23px;
  }
}

.block-carousel .carousel {
  height: 373px;
  max-width: 597px;
  margin: auto;
  margin-top: 70px;

  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.08);

  z-index: 2;

  @media (max-width: 685px) {
    height: 232px;
    max-width: 400px;
  }
  @media (max-width: 549px) {
    width: 100%;
    height: 249px;
    margin-top: 0;
  }
  @media (max-width: 427px) {
    height: 235px;
  }
  @media (max-width: 405px) {
    width: 100%;
    height: 216px;
    margin-top: 0;
  }
  @media (max-width: 375px) {
    width: 100%;
    height: 216px;
    margin-top: 0;
  }
  @media (max-width: 373px) {
    height: 179px;
  }
}

.block-carousel .background-image {
  height: 469px;
  max-width: 787px;
  margin: auto;
  margin-top: -398px;

  z-index: 1;

  background: url('../assets/MacBook-Pro-mockup_background.png');
  background-size: 100% 100%;
  background-position: center center;

  box-sizing: border-box;

  @media (max-width: 991px) {
    height: 468px;
    width: 115%;
    margin-top: -398px;
    margin-left: -49px;
  }
  @media (max-width: 767px) {
    margin-left: -4%;
  }
  @media (max-width: 753px) {
    width: 129%;
    margin-left: -5%;
  }
  @media (max-width: 740px) {
    margin-left: -6.5%;
  }
  @media (max-width: 721px) {
    margin-left: -7%;
  }
  @media (max-width: 710px) {
    width: 129%;
    margin-left: -8%;
  }
  @media (max-width: 701px) {
    width: 139%;
    margin-left: -9%;
  }
  @media (max-width: 691px) {
    margin-left: -10%;
  }
  @media (max-width: 685px) {
    height: 316px;
    width: 82%;
    margin: auto;
    margin-top: -250px;
  }
  @media (max-width: 649px) {
    width: 530px;
  }
  @media (max-width: 556px) {
    width: 525px;
  }
  @media (max-width: 549px) {
    visibility: hidden;
  }
  @media (max-width: 375px) {
    visibility: hidden;
  }
}

.block-carousel button {
  display: flex;
  flex-direction: row;
  padding: 0 43px;
  margin: auto;
  margin-top: 100px;

  width: 360px;
  height: 40px;

  background: #EF4744;
  box-shadow: 0px 8px 12px rgba(239, 71, 68, 0.6);
  border-radius: 2px;

  @media (max-width: 768px) {
    margin-top: 100px;
  }
  @media (max-width: 375px) {
    visibility: hidden;
    width: 330px;
    margin-top: 60px;
  }
}

.block-carousel a {
  position: static;
  left: 8.5%;
  right: 8.32%;
  top: 27.27%;
  bottom: 27.27%;

  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #FFFFFF;

  flex: none;
  order: 0;
  align-self: center;
  margin: 10px 0;
}

.block-carousel button a:hover {
  text-decoration: none;
}

.block-carousel .carousel-indicators {
  position: relative;
  margin-top: 60px;

  @media (max-width: 685px) {
    margin-top: 35px;
  }
  @media (max-width: 549px) {
    margin-top: -60px;
  }
  @media (max-width: 375px) {
    margin-top: -60px;
  }
}

.block-carousel .carousel-indicators li {
  position: static;
  width: 8px;
  max-height: 8px;

  margin: 8px;

  background: url('../assets/Ellipse-2-1.svg') no-repeat;
  background-size: cover;
  background-position: center center;
}

.block-carousel .carousel-indicators li.active {

  margin: 8px;

  background: url('../assets/Ellipse-2.svg') no-repeat;
  background-size: cover;
  background-position: center center;
}

.block-carousel .carousel .carousel-control-prev-icon {
  position: relative;
  width: 40px;
  height: 40px;
  margin-top: -383px;
  left: -180%;

  background-image: url('../assets/arrow-left.svg');

  @media (max-width: 917px) {
    margin-top: -383px;
    left: -127%;
  }
  @media (max-width: 768px) {
    margin-top: -380px;
    left: -120%;
  }
  @media (max-width: 685px) {
    margin-top: -250px;
    left: -177%;
  }
  @media (max-width: 549px) {
    margin-top: 5px;
    left: 38px;
  }
  @media (max-width: 405px) {
    margin-top: 49px;
    left: 38px;
  }
  @media (max-width: 375px) {
    margin-top: 49px;
    left: 38px;
  }
}

.block-carousel .carousel .carousel-control-next-icon {
  position: relative;
  width: 40px;
  height: 40px;
  margin-top: -402px;
  left: 747%;

  background-image: url('../assets/arrow-right.svg');

  @media (max-width: 917px) {
    left: 695%;
  }
  @media (max-width: 768px) {
    margin-top: -398px;
    left: 689%;
  }
  @media (max-width: 685px) {
    margin-top: -275px;
    left: 744%
  }
  @media (max-width: 549px) {
    margin-top: -59px;
    left: 492%;
  }
  @media (max-width: 405px) {
    margin-top: -58px;
    left: 491%;
  }
  @media (max-width: 375px) {
    margin-top: -58px;
    left: 491%;
  }
}

//.block-carousel .carousel-inner .carousel-item {
//  display: flex;
//  flex-direction: row;
//  justify-content: space-between;
//
//  //width: 2500px;
//}

.block-carousel .carousel-inner .carousel-item img {
//  flex-basis: 30%;

  @media (max-width: 549px) {
    border-radius: 10px;
  }
  @media (max-width: 375px) {
    border-radius: 10px;
  }
}

.block-carousel .item-prev .carousel-item {
  height: 373px;
  max-width: 597px;
  margin-left: -530px;
  margin-top: 101px;

  //border: black 1px solid;

  @media (max-width: 768px) {
    visibility: hidden;
  }
}

.block-carousel .slick-slider {
  margin-left: -80px;
  margin-right: -80px;
}
//
//.block-carousel .slick-slide {
//  width: 300px;
//}

.block-carousel .slick-slide  img{
  height: 367px;
}