

.page3-pluses {

  @media (max-width: 768px) {
    padding: 0;
  }
  @media (max-width: 375px) {
    //margin-left: 3%;
    //margin-right: 3%;
  }
}

.page3-pluses h6 {
  margin-top: 108px;

  @media (max-width: 768px) {
    margin-top: 55px;
    margin-left: -5px;
  }
  @media (max-width: 375px) {
    margin-top: 33px;
  }
}

.page3-pluses h1 {
  margin-left: 5px;

  @media (max-width: 768px) {
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 50px;
  }
  @media (max-width: 375px) {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 23px;
  }
}

.page3-pluses .cards {

  @media (max-width: 375px) {
    justify-content: space-evenly;
  }
}

.page3-pluses .card {

  flex-basis: 31.5%;
  height: auto;
  min-height: 180px;

  @media (max-width: 768px) {
    flex-basis: 48%;
  }
  @media (max-width: 375px) {
    flex-basis: 93%;
  }
}

.page3-pluses .card:first-child {
  flex-basis: 48.5%;

  @media (max-width: 768px) {
    flex-basis: 100%;
  }
  @media (max-width: 375px) {
    flex-basis: 93%;
  }
}

.page3-pluses .card:nth-child(2) {
  flex-basis: 48.5%;

  @media (max-width: 768px) {
    flex-basis: 48%;
  }
  @media (max-width: 375px) {
    flex-basis: 93%;
  }
}

.page3-pluses .card:last-child {
  flex-basis: 48.5%;

  @media (max-width: 768px) {
    flex-basis: 100%;
  }
  @media (max-width: 375px) {
    flex-basis: 93%;
  }
}

.page3-pluses .card:nth-last-child(2) {
  flex-basis: 48.5%;

  @media (max-width: 768px) {
    flex-basis: 100%;
  }
  @media (max-width: 375px) {
    flex-basis: 93%;
  }
}

.page3-pluses .card .text {
  padding: 16px 20px 32px 32px;

  font-weight: bold;
  font-size: 18px;
  line-height: 22px;

  @media (max-width: 375px) {
    padding: 16px 11px 32px 32px;
  }
}

.page3-pluses .card .icon {
  margin-left: 30px;
  margin-top: 29px;
}

.page3-pluses .background-image {
  width: 57%;
  height: 1394px;
  margin-right: -7%;
  margin-top: -806px;
}
