

.feedback h6 {

}

.feedback h1 {
  margin-top: 100px;
}

.feedback .cards {

}

.feedback .card .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback .card .icon img {
  max-width: 100%;
}

.feedback .card {
  flex-basis: 20%;

  height: 95px;
  margin: 2%;
  //
  //border: 1px solid black;

  box-shadow: none;
  border-radius: 0;

  @media (max-width: 768px) {
    flex-basis: 25%;
  }
  @media (max-width: 375px) {
    flex-basis: 43%;
  }
}

.feedback .background-image {

}

.feedback i {
  margin-right: 4px;
}
