
.block-carousel.page1-carousel button {
  margin-top: 70px;

  @media (max-width: 768px) {
    margin-top: 70px;
  }
  @media (max-width: 375px) {
    margin-top: 60px;
  }
}

.block-carousel.page1-carousel .carousel {
  height: 367px;
  max-width: 632px;
  margin-top: 50px;

  @media (max-width: 768px) {
    margin-top: 5px;
  }
  @media (max-width: 375px) {
    height: 232px;
    max-width: 440px;
  }
}

.block-carousel.page1-carousel .carousel-inner .carousel-item img {
  border-radius: 0;
}

.block-carousel.page1-carousel .carousel-indicators {
  bottom: -70px;

  @media (max-width: 768px) {
    bottom: -70px;
  }
  @media (max-width: 375px) {
    bottom: -32px;
  }
}

.block-carousel.page1-carousel .carousel .carousel-control-prev-icon {
  left: -123%;

  @media (max-width: 768px) {
    left: -100%;
  }
  @media (max-width: 375px) {
    left: -0%;
  }
}

.block-carousel.page1-carousel .carousel .carousel-control-next-icon {
  left: 690%;

  @media (max-width: 768px) {
    left: 668%;
  }
  @media (max-width: 375px) {
    left: 565%;
  }
}

.block-carousel.page1-carousel .item-prev .carousel-item {
  height: 373px;
  max-width: 597px;
  margin-left: -530px;
  margin-top: 47px;

  //border: black 1px solid;

  @media (max-width: 768px) {
    visibility: hidden;
  }
}