

//.pluses {
//  padding-right: 0;
//  @media (max-width: 768px) {
//    margin-left: 10%;
//    margin-right: 10%;
//  }
//  @media (max-width: 375px) {
//    margin-left: 3%;
//    margin-right: 3%;
//  }
//}

.pluses h6 {
  margin-top: 168px;

  @media (max-width: 768px) {
    margin-top: 100px;
    margin-right: -5px;
  }
  @media (max-width: 375px) {
    margin-top: 27px;
  }
}

.pluses h1 {
  margin-top: 7px;

  @media (max-width: 768px) {
    margin-right: -10px;
  }
  @media (max-width: 375px) {
    margin-top: 5px;
    margin-bottom: 25px;
  }
}

.pluses .cards {
  justify-content: space-between;

  @media (max-width: 768px) {
    justify-content: space-evenly;
    margin-left: 8px;
    margin-right: 8px;
  }
  @media (max-width: 375px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.pluses .card {
  min-height: 218px;
  border-radius: 0;
  //border: black 1px solid;
  @media (max-width: 768px) {
    flex-basis: 80%;
  }
  @media (max-width: 375px) {
    flex-basis: 100%;
    min-height: 240px;
    order: 1;
  }
}

.pluses .card .icon {
  @media (max-width: 768px) {
    margin-top: 29px;
  }
  @media (max-width: 375px) {
    margin-top: 33px;
    margin-left: 28px;
  }
}

.pluses .card .text {
  padding: 11px 32px 32px 32px;

  font-weight: bold;
  font-size: 18px;
  line-height: 22px;

  @media (max-width: 768px) {
    padding: 15px 155px 32px 32px;
  }
  @media (max-width: 550px) {
    padding: 11px 19px 32px 29px;
  }
  @media (max-width: 375px) {
    padding: 11px 19px 32px 29px;
  }
}

.pluses .card:first-child {
  flex-basis: 48.5%;

  @media (max-width: 768px) {
    flex-basis: 80%;
  }
  @media (max-width: 375px) {
    flex-basis: 100%;
    order: 3;
    min-height: 217px;
  }
}

.pluses .card:nth-child(2) {
  flex-basis: 48.5%;

  @media (max-width: 768px) {
    flex-basis: 80%;
  }
  @media (max-width: 375px) {
    flex-basis: 100%;
    order: 2;
    min-height: 217px;
  }
}

.pluses .card:last-child {
  @media (max-width: 375px) {
    flex-basis: 100%;
    order: 0;
    min-height: 263px;
  }
}
.pluses .card:nth-last-child(2) {
  @media (max-width: 375px) {
    min-height: 265px;
  }
}

.pluses .background-image {
  width: 55%;
  height: 1301px;
  margin-right: -5%;
  margin-top: -650px;
}