

.work h6 {
  margin-left: 20px;

  @media (max-width: 375px) {
    margin-top: 135px;
    margin-left: -15px;
  }
}
.work h1 {
  margin-top: 7px;
  margin-bottom: 10px;

  @media (max-width: 768px) {
    margin-top: 7px;
    margin-bottom: 60px;
  }
  @media (max-width: 375px) {
    margin-top: 8px;
    margin-left: -10px;
    margin-bottom: 23px;
  }
}

.work .cards {
  flex-wrap: nowrap;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-wrap: wrap;

    margin-left: 10%;
    margin-right: 10%;
  }
  @media (max-width: 375px) {
    margin-left: 0;
    margin-right: 0;
    justify-content: space-evenly;
  }
}

.work .card {
  flex-basis: 23%;
  min-height: 400px;

  @media (max-width: 768px) {
    flex-basis: 47.5%;
  }
  @media (max-width: 375px) {
    flex-basis: 74%;
  }
}

.work .card .text {
  margin-top: 60px;

  @media (max-width: 768px) {
    padding: 36px 18px 32px 32px;
  }
  @media (max-width: 375px) {
    padding: 36px 12px 32px 32px;
  }
}

.work .card .number {
  position: absolute;
  height: 49px;
  left: 32px;
  top: 38px;
  text-align: left;

  font-weight: 200;
  font-size: 40px;
  line-height: 49px;

  color: #EF4744;
  opacity: 1;
}

.work .card .picture img {
  width: 83%;
  max-height: 166px;
}

.work .background-image {
  width: 115%;
  height: 297px;
  margin-left: -7%;
  margin-top: -256px;
}
