

.page4-pluses h6 {
  @media (max-width: 768px) {
    margin-top: 50px;
  }
}

.page4-pluses .card {
  flex-basis: 48%;
  height: auto;

  @media (max-width: 768px) {
    flex-basis: 100%;
    margin-left: 10%;
    margin-right: 10%;
  }

  @media (max-width: 375px) {
    flex-basis: 100%;
    margin-left: 3%;
    margin-right: 3%;
  }
}

.page4-pluses .card:last-child {
  flex-basis: 100%;
}

.page4-pluses .card .text {
  padding-bottom: 8px;

  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.page4-pluses .card .subtext {
  line-height: 26px;
}