

.block-contacts .cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-evenly;

  z-index: 2;

  @media (max-width: 768px) {
    justify-content: space-evenly;
  }
  @media (max-width: 375px) {
  }
}

.block-contacts .contact-card {
  flex-basis: 40%;

  height: auto;
  padding: 46px 25px 0 48px;

  background: #FFFFFF;

  border: 0.5px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 0;

  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.08);
  @media (max-width: 991px) {
    padding: 46px 11px 0 48px;
  }
  @media (max-width: 768px) {
    flex-basis: 80%;
    margin-bottom: 32px;
    padding: 46px 118px 0 48px;
  }
  @media (max-width: 550px) {
    padding: 46px 34px 0 48px;
  }
  @media (max-width: 375px) {
    flex-basis: 100%;
    padding: 48px 10px 0 3px;
  }
}

.block-contacts .contact-card button:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

.block-contacts .contact-card button:hover a {
  color: #fff;
  text-decoration: none;
}

.block-contacts .contact-card:nth-child(2n) {
  flex-basis: 57%;
  margin-left: 15px;

  @media (max-width: 768px) {
    flex-basis: 80%;
    margin-left: 0;
    padding: 46px 100px 0 48px;
  }
  @media (max-width: 550px) {
    padding: 46px 36px 0 48px;
  }
  @media (max-width: 375px) {
    flex-basis: 100%;
    margin-left: 0;
    padding: 48px 10px 0 3px;
  }
}

.block-contacts .contact-card:nth-child(2n) .number {
  margin-top: 0;
}

.block-contacts .contact-card:nth-child(2n) button {
  margin-bottom: 50px;

  @media (max-width: 768px) {
    margin-bottom: 102px;
  }
  @media (max-width: 375px) {
    padding: 14px 0 11px 0;
    margin-bottom: 125px;

    line-height: 14px;
  }
}

.block-contacts .contact-card:nth-child(2n) button:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

.block-contacts .contact-card:nth-child(2n) button:hover a {
  color: #fff;
  text-decoration: none;
}

.block-contacts .picture {
  position: relative;
  max-width: 349px;
  min-height: 52px;
  margin: auto;
  margin-top: 56px;

  z-index: 2;

  background: url('../assets/pencil.png');
  background-size: cover;
  background-position: center 0;

  @media (max-width: 768px) {
    margin-top: 19px;
  }
  @media (max-width: 375px) {
    max-width: 276px;
    min-height: 44px;
    margin-top: -12px;
  }
}