
.block-carousel.page1-carousel h6 {
  margin-top: 76px;
  margin-left: 0;

  @media (max-width: 768px) {
    margin-top: 70px;
    margin-bottom: 8px;
  }
  @media (max-width: 375px) {
    margin-top: 50px;
    margin-bottom: 8px;
  }
}

.block-carousel.page1-carousel h1 {
  margin-bottom: 0;

  @media (max-width: 375px) {
    margin-bottom: 32px;
    margin-left: -4px;
    font-size: 36px;
  }
}

.block-carousel.page1-carousel .btn.btn-danger {
  margin-top: -3px;

  @media (max-width: 768px) {
    margin-top: -5px;
  }
  @media (max-width: 472px) {
    margin-top: 0;
    margin-bottom: 0;
  }
  @media (max-width: 375px) {
    margin-top: 8px;
    margin-bottom: 0;
  }
}

.block-carousel.page1-carousel .slick-slider {
  margin: -9px -803px -141px -587px;

  @media (max-width: 1199px) {
    margin-left: -644px;
    margin-right: -885px;
  }
  @media (max-width: 1024px) {
    margin-left: -655px;
    margin-right: -893px;
  }
  @media (max-width: 991px) {
    margin-left: -752px;
    margin-right: -967px;
  }
  @media (max-width: 768px) {
    margin: -36px -844px -64px -718px;
  }
  @media (max-width: 767px) {
    margin: -36px 55px 10px 55px;
  }
  @media (max-width: 560px) {
    margin: 0 10%;
  }
  @media (max-width: 375px) {
    margin: -40px -7px 41px -7px;
  }
}


.block-carousel.page1-carousel .slick-slide img {
  max-height: 295px;
  margin-top: 75px;

  border-radius: 0;

  @media (max-width: 768px) {
    max-height: 365px;
    margin-top: 0;
    margin-bottom: 0;
  }
  @media (max-width: 767px) {
    width: 100%;
  }
  @media (max-width: 560px) {
    max-height: 331px;
  }
  @media (max-width: 375px) {
    max-height: 235px;
    margin-top: 0;
    margin-bottom: 0;
  }
  @media (max-width: 320px) {
    max-height: 182px;
  }
}

.block-carousel.page1-carousel .slick-center img {
  max-height: 367px;
  margin-top: -28px;
  margin-bottom: 8px;

  border-radius: 0;

  @media (max-width: 768px) {
    max-height: 365px;
    margin-top: 0;
    margin-bottom: 0;
  }
  @media (max-width: 767px) {
    width: 100%;
  }
  @media (max-width: 560px) {
    max-height: 331px;
    width: 100%;
  }
  @media (max-width: 375px) {
    max-height: 235px;
    width: 110%;
    margin-top: 0;
    margin-bottom: 0;
  }
  @media (max-width: 320px) {
    max-height: 182px;
  }
}

.block-carousel.page1-carousel .placeholder {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 58.12%;
}

.block-carousel.page1-carousel .placeholder img {
  position: absolute;
  top: 0;
  left: 0;
}

.block-carousel.page1-carousel .slick-slide p {
  height: 21px;

  @media (max-width: 768px) {
    margin: 0 0 31px -146px;
  }
  @media (max-width: 767px) {
    margin: 0 0 31px 0;
  }
  @media (max-width: 492px) {
    height: 65px;
  }
  @media (max-width: 375px) {
    margin: 0 0 19px 0;
    height: 65px;
  }
}

.block-carousel.page1-carousel .slick-center p {
  margin: 0 0 76px -217px;

  @media (max-width: 768px) {
    margin: 0 0 31px -146px;
  }
  @media (max-width: 767px) {
    margin: 0 0 31px 0;
  }
  @media (max-width: 492px) {
    height: 65px;
  }
  @media (max-width: 375px) {
    margin: 0 0 19px 0;
    height: 65px;
  }
}

.block-carousel.page1-carousel .slick-prev {
  left: 736px;
  top: 282px;

  @media (max-width: 1024px) {
    left: 713px;
  }
  @media (max-width: 768px) {
    left: 680px;
    top: 284px;
  }
  @media (max-width: 767px) {
    left: -70px;
  }
  @media (max-width: 660px) {
    top: 215px;
  }
  @media (max-width: 560px) {
    left: -53px;
    top: 223px;
  }
  @media (max-width: 492px) {
    top: 236px;
  }
  @media (max-width: 480px) {
    top: 248px;
  }
  @media (max-width: 425px) {
    top: 212px;
  }
  @media (max-width: 375px) {
    left: 52px;
    top: 407px;
  }
  @media (max-width: 370px) {
    top: 403px;
    left: 37px;
  }
  @media (max-width: 360px) {
    top: 397px;
    left: 25px;
  }
  @media (max-width: 345px) {
    top: 387px;
    left: 20px;
  }
  @media (max-width: 330px) {
    top: 378px;
    left: 5px;
  }
  @media (max-width: 320px) {
    left: -5px;
    top: 331px;
  }
}


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .block-carousel.page1-carousel .slick-prev {

    @media (max-width: 375px) {
      left: 33px; //
      top: 396px; //
    }
    @media (max-width: 370px) {
      top: 392px; //
      left: 37px;
    }
    @media (max-width: 360px) {
      top: 386px; //
      left: 25px;
    }
    @media (max-width: 345px) {
      top: 376px; //
      left: 20px;
    }
    @media (max-width: 330px) {
      top: 367px; //
      left: 5px;
    }
    @media (max-width: 320px) {
      top: 331px; //
      left: -5px;
    }
  }
}

.block-carousel.page1-carousel .slick-next {
  left: 1508px;
  top: -341px;

  @media (max-width: 1199px) {
    top: -333px;
  }
  @media (max-width: 1024px) {
    top: -336px;
  }
  @media (max-width: 991px) {
    top: -323px;
  }
  @media (max-width: 900px) {
    left: 1443px;
  }
  @media (max-width: 768px) {
    left: 1408px;
    top: -244px;
  }
  @media (max-width: 767px) {
    left: 641px;
    top: -173px;
  }
  @media (max-width: 750px) {
    left: 628px;
    top: -164px;
  }
  @media (max-width: 730px) {
    left: 596px;
    top: -152px;
  }
  @media (max-width: 700px) {
    left: 568px;
    top: -134px;
  }
  @media (max-width: 660px) {
    left: 528px;
    top: -179px;
  }
  @media (max-width: 640px) {
    left: 508px;
    top: -168px;
  }
  @media (max-width: 620px) {
    left: 484px;
    top: -156px;
  }
  @media (max-width: 590px) {
    left: 456px;
    top: -139px;
  }
  @media (max-width: 560px) {
    left: 436px;
    top: -115px;
  }
  @media (max-width: 520px) {
    left: 400px;
    top: -97px;
  }
  @media (max-width: 492px) {
    top: -115px;
  }
  @media (max-width: 480px) {
    left: 367px;
    top: -97px;
  }
  @media (max-width: 450px) {
    left: 343px;
    top: -83px;
  }
  @media (max-width: 425px) {
    left: 322px;
    top: -108px;
  }
  @media (max-width: 414px) {
    top: -102px;
  }
  @media (max-width: 400px) {
    left: 302px;
    top: -96px;
  }
  @media (max-width: 375px) {
    left: 268px;
    top: 74px;
  }
  @media (max-width: 320px) {
    top: 30px;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .block-carousel.page1-carousel .slick-next {

    @media (max-width: 767px) {
      left: 641px;
      top: -164px;//
    }
    @media (max-width: 750px) {
      left: 628px;
      top: -154px;//
    }
    @media (max-width: 730px) {
      left: 596px;
      top: -141px;//
    }
    @media (max-width: 700px) {
      left: 568px;
      top: -124px;//
    }
    @media (max-width: 660px) {
      left: 528px;
      top: -169px;//
    }
    @media (max-width: 640px) {
      left: 508px;
      top: -158px;//
    }
    @media (max-width: 620px) {
      left: 484px;
      top: -146px;//
    }
    @media (max-width: 590px) {
      left: 456px;
      top: -130px;//
    }
    @media (max-width: 560px) {
      left: 436px;
      top: -107px;//
    }
    @media (max-width: 520px) {
      left: 400px;
      top: -89px;//
    }
    @media (max-width: 480px) {
      left: 367px;
      top: -89px;//
    }
    @media (max-width: 450px) {
      left: 343px;
      top: -75px;//
    }
    @media (max-width: 425px) {
      left: 322px;
      top: -100px;//
    }
    @media (max-width: 414px) {
      top: -93px;//
    }
    @media (max-width: 400px) {
      left: 302px;
      top: -88px;//
    }
    @media (max-width: 375px) {
      left: 268px;
      top: 73px;//
    }
    @media (max-width: 320px) {
      top: 40px;//
    }
  }
}

.block-carousel.page1-carousel .slick-slider .slick-dots {
  left: -109px;
  top: -161px;

  @media (max-width: 768px) {
    left: -62px;
    top: -85px;
  }
  @media (max-width: 767px) {
    left: 0;
    top: -20px;
  }
  @media (max-width: 560px) {
    left: 0;
    top: -28px;
  }
  @media (max-width: 375px) {
    left: 0;
    top: 22px;
  }
  @media (max-width: 320px) {
    top: -26px;
  }
}