
@import "blockCanDo";
@import "blockWorkPage3";
@import "blockPlusesPage3";


#page3 {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#page3 .picture-title {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(
  "../assets/photo-of-people-leaning-on-wooden-table-3184325.jpeg");
  background-size: cover;
  background-position: center -80px;

  @media (max-width: 768px) {
    background-position: -155px 25px;
  }
  @media (max-width: 375px) {
    background-size: 330%;
    background-position: -430px 0px;
  }
}

#page3 .picture-title h1 {
  top: 214px;
  max-width: 1065px;

  @media (max-width: 768px) {
    top: 250px;
  }
  @media (max-width: 697px) {
    top: 215px;
  }
  @media (max-width: 375px) {
    top: 215px;
    font-size: 44px;
  }
  @media (max-width: 353px) {
    font-size: 40px;
  }
  @media (max-width: 333px) {
    font-size: 36px;
  }
  @media (max-width: 300px) {
    font-size: 34px;
  }
}

#page3 .picture-title button {
  top: 250px;

  @media (max-width: 768px) {
    top: 266px;
  }
  @media (max-width: 697px) {
    top: 234px;
  }
  @media (max-width: 375px) {
    width: 93%;
    top: 234px;
  }
}

#page3 .block-main.cards {
  margin-top: -199px;

  @media (max-width: 768px) {
    margin-top: -145px;
  }
  @media (max-width: 375px) {
    margin-top: -146px;
  }
}

#page3 .block-main .card .text {
  padding: 8px 12px 85px 24px;
}

#page3 .block-contacts .cards {
  margin-top: 0;

  @media (max-width: 768px) {
    margin-left: 35px;
  }
  @media (max-width: 375px) {
    margin: auto;
    justify-content: space-evenly;
  }
}

#page3 .block-contacts .contact-card{

  @media (max-width: 768px) {
    flex-basis: 83%;
    padding: 46px 124px 0 48px;
    -ms-flex-preferred-size: 71%;
  }
  @media (max-width: 534px) {
    padding: 46px 34px 0 48px;
  }
  @media (max-width: 375px) {
    flex-basis: 100%;
    padding: 47px 10px 0 3px;
    -ms-flex-preferred-size: 95%;
  }
}

#page3 .block-contacts .contact-card:nth-child(2n) {

  @media (max-width: 768px) {
    padding: 46px 95px 0 48px;
    flex-basis: 83%;
    -ms-flex-preferred-size: 71%;
  }
  @media (max-width: 534px) {
    padding: 46px 36px 0 48px;
  }
  @media (max-width: 375px) {
    flex-basis: 100%;
    padding: 45px 17px 0 2px;
    -ms-flex-preferred-size: 95%;
  }
}

#page3 .contact-card .contact {

  @media (max-width: 375px) {
    padding-bottom: 13px;
  }
}

#page3 .contact-card .contact .col-sm-9 {

  @media (max-width: 768px) {
    margin-left: -5px;
  }
  @media (max-width: 375px) {
    margin-left: 0;
    margin-top: -57px;
  }
}

#page3 .contact .icon {

  @media (max-width: 375px) {
    margin: 2px 0 1px 1px;
  }
}

#page3 .contact-card .contact p {

  @media (max-width: 375px) {
    padding-left: 1px;
    margin-top: 2px;
    margin-bottom: 4px;
  }
}

#page3 .block-contacts .contact-card button {
  margin-top: 27px;
  margin-bottom: 46px;

  @media (max-width: 768px) {
    margin-bottom: 154px;
  }
  @media (max-width: 375px) {
    margin: 14px 10px 123px 17px;
    padding: 14px 0 11px 0;
    line-height: 17px;
  }
}

#page3 .block-contacts .contact-card:nth-child(2n) button {
  margin-top: 21px;

  @media (max-width: 991px) {
    margin-bottom: 90px;
  }
  @media (max-width: 768px) {
    margin-bottom: 100px;
  }
  @media (max-width: 375px) {
    margin: 15px 0 124px 17px;
  }
  @media (max-width: 368px) {
    margin-top: 25px;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #page3 .block-contacts .contact-card:nth-child(2n) button {

    @media (max-width: 375px) {
      margin-top: 20px;
    }
    @media (max-width: 368px) {
      margin-top: 25px;
    }
  }
}

#page3 .block-contacts .picture {
  margin-top: 42px;

  @media (max-width: 768px) {
    margin: auto;
    margin-top: 15px;
  }
  @media (max-width: 375px) {
    margin: auto;
    margin-top: -10px;
  }
}

#page3 .bg-picture {
  height: 1395px;
  margin-top: -1350px;
}