@import "blockWork";
@import "blockPlusesPage2";


#page2 {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#page2 .picture-title {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(
  "../assets/woman-standing-beside-pineapple-fruits-2292919.jpeg");
  background-size: cover;
  background-position: center -174px;

  @media (max-width: 768px) {
    background-position: center -145px;
  }
  @media (max-width: 459px) {
    background-position: -407px -145px;
  }
  @media (max-width: 375px) {
    min-height: 697px;
    background-size: 220%;
    background-position: -312px 0px;
  }
  @media (max-width: 374px) {
    background-size: 300%;
    background-position: -445px -95px;
  }
  @media (max-width: 322px) {
    background-position: -403px -10px;
  }
  @media (max-width: 279px) {
    background-size: 332%;
  }
}

#page2 .picture-title h1 {
  top: 184px;
  max-width: 1077px;

  @media (max-width: 768px) {
    top: 248px;
  }
  @media (max-width: 697px) {
    top: 216px;
  }
  @media (max-width: 375px) {
    top: 216px;
    font-size: 44px;
  }
  @media (max-width: 353px) {
    font-size: 40px;
  }
  @media (max-width: 333px) {
    font-size: 36px;
  }
  @media (max-width: 300px) {
    font-size: 34px;
  }
}

#page2 .picture-title button {
  top: 219px;

  @media (max-width: 768px) {
    top: 265px;
  }
  @media (max-width: 697px) {
    top: 236px;
  }
  @media (max-width: 375px) {
    width: 93%;
    top: 236px;
  }
}

#page2 .block-main.cards {
  margin-top: -199px;

  @media (max-width: 768px) {
    margin-top: -145px;
  }
  @media (max-width: 375px) {
    margin-top: -146px;
  }
}

#page2 .block-main .card .text {

  @media (max-width: 375px) {
    padding: 8px 46px 85px 24px;
  }
}

#page2 .block-contacts {
  margin-top: -2px;

  @media (max-width: 768px) {
    margin-top: 0;
  }
}

#page2 .block-contacts .contact-card {

  @media (max-width: 768px) {
    padding: 46px 124px 0 48px;
  }
  @media (max-width: 515px) {
    padding: 46px 34px 0 48px;
  }
  @media (max-width: 375px) {
    padding: 47px 10px 0 3px;
  }
}

#page2 .block-contacts .contact-card:nth-child(2n) {

  @media (max-width: 768px) {
    padding: 46px 100px 0 53px;
  }
  @media (max-width: 515px) {
    padding: 46px 34px 0 48px;
  }
  @media (max-width: 375px) {
    padding: 47px 10px 0 3px;
  }
}

#page2 .contact-card .contact .col-sm-9 {

  @media (max-width: 768px) {
    margin-left: -3px;
  }
  @media (max-width: 375px) {
    margin-left: -1px;
    margin-top: -62px;
  }
}

#page2 .block-contacts .picture {
  margin-top: 46px;

  @media (max-width: 768px) {
    margin-top: 15px;
  }
  @media (max-width: 375px) {
    margin-top: -12px;
  }
}

#page2 .contact .icon {

  @media (max-width: 375px) {
    margin: 0 0 5px 0;
  }
}

#page2 .block-contacts .contact-card button {

  @media (max-width: 768px) {
    margin-top: 20px;
  }
  @media (max-width: 375px) {
    margin: 14px 10px 125px 17px;
    padding: 14px 0 11px 0;
    min-height: 44px;
    line-height: 17px;
  }
}

#page2 .block-contacts .contact-card:nth-child(2n) button {

  @media (max-width: 768px) {
    margin-bottom: 104px;
  }
  @media (max-width: 375px) {
    margin-top: 2px;
  }
  @media (max-width: 368px) {
    margin-top: 25px;
  }
}