@import "blockDetails";
@import "blockTesting";
@import "blockFeedback";
@import "blockPluses";
@import "blockCarousel";
@import "blockCarouselPage1";
@import "blockContacts";


#page1 {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#page1 .block-contacts {
  z-index: 2;
}

#page1 .contact-card button {

  @media (max-width: 375px) {
    margin-top: 13px;
    margin-bottom: 125px;
  }
}

#page1 .block-contacts .contact-card:nth-child(2n) button {

  @media (max-width: 375px) {
    margin-top: 11px;
    margin-left: 16px;
    margin-right: 10px;
    line-height: 18px;
  }
  @media (max-width: 368px) {
    margin-top: 25px;
  }
}

.bg-picture {

  width: 45%;
  height: 1301px;
  margin-left: 50%;
  margin-top: -1231px;

  background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('../assets/adult-business-deal-colleague-1265902.jpeg');
  background-size: cover;
  background-position: center center;

  //border: 0.5px solid #E5E5E5;
  box-sizing: border-box;

  z-index: 1;

  @media (max-width: 991px) {
    margin-top: -1305px;
  }
  @media (max-width: 768px) {
    visibility: hidden;
  }
}