@import "fonts";
@import "page1";
@import "page2";
@import "page3";
@import "page4";


#app {
  padding: 0;
  margin: 0;
}

.rlink {
  margin-left: 5px;
  margin-right: 5px;
}

.router-link-active {
  color: #EF4744;
}