

.block-main.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  margin-top: -260px;

  @media (max-width: 768px) {
    flex-wrap: wrap;
  }
}

.block-main .card {
  flex-basis: 50%;

  height: 270px;

  background: #FFFFFF;

  border: 0.5px solid #E5E5E5;
  box-sizing: border-box;

  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.08);
  border-radius: 0;

  @media (max-width: 768px) {
    flex-basis: 100%;
  }
}

.block-main .more-cards {

  @media (max-width: 768px) {
    flex-basis: 50%;
  }
  @media (max-width: 375px) {
    flex-basis: 100%;
  }
}

.block-main .card .icon {
  margin-left: 24px;
  margin-top: 24px;
}

.block-main .card .text {
  padding: 24px;
  padding-top: 8px;
}
