

.contact .icon {
  padding: 0;
  //margin: 0;
  margin: -4px 0 5px -2px;
  text-align: left;

  @media (max-width: 768px) {
    //margin: -5px 0 5px 5px;
  }
  @media (max-width: 375px) {
    margin: -4px 0 5px -2px;
  }
}

.contact .icon img {
  max-width: 100%;
}

.contact .name {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;

  color: #2B2B2B;
}

.contact p {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;

  color: #2B2B2B;
  margin-bottom: 0;
}

.contact a {
  color: #EF4744;
}
