

.contact-card h1 {
  text-align: left;

  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;

  color: #3F3D56;

  @media (max-width: 375px) {
    padding: 0 0 0 18px;
  }
}

.contact-card p {
  margin: 6px 0 10px 0;

  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;

  color: #2B2B2B;

  @media (max-width: 375px) {
    padding: 1px 0 0 19px;
  }
}

.contact-card .contact {
  padding-top: 22px;
  padding-bottom: 16px;

  @media (max-width: 375px) {
    padding-left: 17px;
  }
}

.contact-card .contact p {
  line-height: 10px;

  @media (max-width: 375px) {
    padding-left: 0;
  }
}

.contact-card .contact .col-sm-9 {
  margin-left: -8%;
  padding-left: 0;

  @media (max-width: 993px) {
    margin-left: 0;
  }
  @media (max-width: 768px) {
    margin-left: 0;
  }
  @media (max-width: 375px) {
    padding-left: 102px;
    margin-top: -58px;
    margin-bottom: -12px;
  }
}

.contact-card button {
  max-width: 380px;
  min-height: 42px;
  margin-top: 23px;
  margin-bottom: 45px;

  background: #FFFFFF;

  border: 1px solid #EF4744;
  box-sizing: border-box;
  border-radius: 2px;

  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.08);

  @media (max-width: 768px) {
    margin-bottom: 156px;
  }
  @media (max-width: 375px) {
    padding: 0;
    margin-top: 11px;
    margin-bottom: 124px;
  }
}

.contact-card button a {

  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #2B2B2B;
}

.contact-card button a:hover {
  color: #fff;
  text-decoration: none;
}

.contact-card  .btn-danger:hover {
  color: #fff;
  background-color: #d8403d;
  border-color: #d8403d;

  transition: background 0.5s ease, color 0.2s linear;
}