

#picture-title {
  position: relative;
  display: block;
  //height:auto;
}

.picture-title {
  /*height: 718px;*/
  min-height: 1087px;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/delight-ice-coffee-box-2813280.jpeg");
  background-size: cover;
  background-position: center 0;
}

.picture-title h1 {
  position: relative;
  top: 245px;

  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 55px;
  line-height: 100%;
  text-align: center;

  color: #FFFFFF;
  //border: 0.5px solid rgba(0, 0, 0, 0.2);
  text-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.picture-title button {
  display: flex;
  flex-direction: row;
  padding: 0 43px;
  margin: auto;

  position: relative;
  width: 230px;
  top: 395px;

  background: #EF4744;

}

.picture-title a {
  position: static;
  left: 18.7%;
  right: 18.7%;
  top: 27.5%;
  bottom: 27.5%;

  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #FFFFFF;

  flex: none;
  order: 0;
  align-self: center;
  margin: 10px 0;

}

.picture-title .cards {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /*top: 87%;*/
  top: 718px;

  @media (max-width: 768px) {
    flex-wrap: wrap;
  }
}

.picture-title .card {
  flex-basis: 50%;

  height: 270px;

  background: #FFFFFF;

  border: 0.5px solid #E5E5E5;
  box-sizing: border-box;

  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.08);

  @media (max-width: 768px) {
    flex-basis: 100%;
  }
}

.picture-title .more-cards {

  @media (max-width: 768px) {
    flex-basis: 50%;
  }
  @media (max-width: 375px) {
    flex-basis: 100%;
  }
}
