

.picture-title {
  display: block;
  min-height: 1087px;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/delight-ice-coffee-box-2813280.jpeg");
  background-size: cover;
  background-position: center 0;
}

.picture-title h1 {
  position: relative;
  top: 400px;
  //max-width: 90%;
  margin: auto;

  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 55px;
  line-height: 100%;
  text-align: center;

  color: #FFFFFF;
  text-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);

  @media (max-width: 375px) {
    font-size: 44px;
  }
}

.picture-title button {
  display: flex;
  flex-direction: row;
  padding: 0 43px;
  margin: auto;

  position: relative;
  width: 230px;
  top: 440px;

  background: #EF4744;

}

.picture-title a {
  position: static;
  left: 18.7%;
  right: 18.7%;
  top: 27.5%;
  bottom: 27.5%;

  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #FFFFFF;

  flex: none;
  order: 0;
  align-self: center;
  margin: 10px 0;

}
