

.picture-title {
  display: block;
  min-height: 720px;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(
  "../assets/delight-ice-coffee-box-2813280.jpeg");
  background-size: cover;
  background-position: center -176px;

  @media (max-width: 768px) {
    background-position: center -3px;
  }
  @media (max-width: 375px) {
    min-height: 697px;
    background-size: 148%;
    background-position: 88% -0.5%;
  }
  @media (max-width: 371px) {
    background-size: 175%;
    background-position: 60% 0;
  }
  @media (max-width: 313px) {
    background-size: 223%;
    background-position: 60% 0;
  }
}

.picture-title h1 {
  position: relative;
  top: 228px;
  margin: auto;
  max-width: 1008px;

  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 55px;
  line-height: 100%;
  text-align: center;

  color: #FFFFFF;
  text-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);

  @media (max-width: 768px) {
    top: 302px;
  }
  @media (max-width: 609px) {
    top: 217px;
    font-size: 44px;
  }
  @media (max-width: 375px) {
    top: 217px;
    font-size: 44px;
  }
}

.picture-title button {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: auto;

  position: relative;
  width: 230px;
  top: 262px;

  background: #EF4744;

  @media (max-width: 768px) {
    top: 320px;
  }
  @media (max-width: 609px) {
    top: 235px;
  }
  @media (max-width: 375px) {
    width: 93%;
    top: 235px;
  }
}

.picture-title a {

  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #FFFFFF;

  flex: none;
  order: 0;
  align-self: center;
  margin: 10px auto;
}

.picture-title button a:hover {
  text-decoration: none;
}
